<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/home.css"/>
    <link rel="stylesheet" href="/CSS/mycourses.css">
    <link rel="stylesheet" href="/mycourses.css">
    <link rel="stylesheet" href="/CSS/userCourse.css">
    <!-- <link rel="stylesheet" href="/public/CSS/home.css">
    <link rel="stylesheet" href="/public/CSS/mycourses.css"> -->
    <link rel="shortcut icon" href="/Assets/Edu 128.png" type="image/x-icon">
      <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyDE0yTd1c37lGuOQk7lMj9YIJcMGKCFTkA",
        authDomain: "personal-tuition-web-proj.firebaseapp.com",
        projectId: "personal-tuition-web-proj",
        storageBucket: "personal-tuition-web-proj.appspot.com",
        messagingSenderId: "42156751791",
        appId: "1:42156751791:web:cee660b94201b275250d5a"
      };
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body class="dark">
    <div class="mode-switcher">Dark</div>
    <%- include('../navbar/navbar.ejs', {atPage}) %>
