<%- include("./Template/header/header.ejs", {atPage})%>
    <main>
      <section id="firstPage">
        <div>
          <h1>The Tuition Center</h1>
          <h1>
          </h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam
          </p>
        </div>
        <img src="/Assets/undraw_education_f8ru.svg" alt="eduction"/>
      </section>
      <section id="secondPage">
            <p>Most Popular Brand In The World</p>
            <div>
                <img src="/Assets/undraw_Building_re_xfcm.svg" alt="building">
                <div class="secondPage-desc-container">
                    <div class="secondPage-desc">
                        <div class="circle"></div>
                        <p>Long History</p>
                        <p>Founded in  1997</p>
                    </div> 
                    <div class="secondPage-desc">
                        <div class="circle"></div>
                        <p>Large Scale</p>
                        <p>Online Or Physical Education</p>
                    </div> 
                    <div class="secondPage-desc">
                        <div class="circle"></div>
                        <p>Huge Variety</p>
                        <p>Include variety of course</p>
                    </div> 
                </div>
            </div>
        </section>
        <section id="thirdPage">
            <div class="title">
                <div>
                    <p>Good Reputation</p>
                    <p>Result Guarantee</p>
                </div>
            </div>
            <div>
                <div class="card">
                    <img src="/Assets/undraw_awards_fieb.svg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <p>Elected as most sucessfull brand</p>
                      <p>Receive award by Malaysia Education Association.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/Assets/undraw_winners_ao2o.svg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <p>Elected as most sucessfull brand</p>
                      <p>Winning educaiton competition in last 7 years</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/Assets/undraw_Completed_re_cisp.svg" class="card-img-top" alt="#">
                    <div class="card-body">
                        <p>Elected as most sucessfull brand</p>
                      <p>Most comback customer winner by Malaysia Comsumer Association.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="fourthPage">
            <p class= "title"><span>Best Teacher</span><span class="h_line"></span>Selection of Teacher</p>
            <div>
              <div>
                  <div class="card">
                      <img src="/Assets/undraw_Terms_re_6ak4.svg" class="card-img-top" alt="#">
                      <div class="card-body">
                          <p>Four rule in teacher selection</p>
                          <div class="point-form-desc">
                              <div>Highly attainment</div>
                              <div>Good Fundamental Knowledge.</div>
                              <div>Well Learning Style</div>
                              <div>Responsibility</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="card">
                      <img src="/Assets/undraw_prioritise_tgdh.svg" class="card-img-top" alt="#">
                      <div class="card-body">
                          <p>Higly Prioritise Teacher With Advantages</p>
                        <p>Teacher who graduate from top university will be more prioritise to be selected</p>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="card">
                      <img src="/Assets/undraw_Experts_re_i40h.svg" class="card-img-top" alt="#">
                      <div class="card-body">
                          <p>High Experience</p>
                        <p>Average Teacher Expeience More than 5 years</p>
                      </div>
                  </div>
              </div>
            </div>
        </section>
        <section id="fifthPage">
            <p class= "title"><span>Advance Technology</span><span class="h_line"></span>Effective Learning</p>
            <div>
              <div>
                <div><img src="/Assets/undraw_visionary_technology_33jy.svg" alt="" srcset=""></div>
              </div>
              <div>
                <div>01</div>
                <div>Cload Based Learning</div>
                <div>02</div>
                <div>Visionary Learning Platform</div>
                <div>03</div>
                <div>Artificial Intelligence Learning Platform</div>
              </div>
            </div>
        </section>
    </main>
<%- include("./Template/footer/footer.ejs")  %> 

