<nav>
    <div>
      <img src="../../Assets/Edu 128.png" alt="">
      <div id="user">
        <img src="" alt="">
      </div>
      <img id="toggle-btn" src="../../Assets/align-justify.svg" alt="#" />
      <ul>
        <li class=<%= atPage === "home" ? "atPage": ""%>><a href="/">Home</a></li>
        <li class=<%= atPage === "aboutUs" ? "atPage": ""%>><a href="/aboutUs">About Us</a></li>
        <li class=<%= atPage === "course" ? "atPage": ""%>><a href="/aboutUs"><a href="/course">Course</a></li>
        <li id="loginBtn"><a href="#">Login</a></li>
        <li id="logoutBtn"><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>