<footer>
    <div>
      <p>How To</p>
      <div>Online Payment</div>
      <div>Login</div>
      <div>Use Voucher</div>
    </div>
    <div>
      <p>Beginner Guide</p>
      <div>Forgot Password</div>
      <div>Course Listening Method</div>
      <div>Questino Anwering Method</div>
    </div>
    <div>
      <p>Q&A</p>
      <div>Video Lag</div>
      <div>Can't install app</div>
      <div>Can't open video</div>
    </div>
    <div>&copy Copyright</div>
  </footer>
  <script src="/Script/home.js" defer></script>
  <script src="/Script/payment.js"></script>
</body>
</html>